{% extends 'base.html' %}
{% block title %}Write | Blogs{% endblock title %}
{% block content %}
<!-- Post Form -->
<div class="container ">
    <div >

        <div 
        class="row justify-content-center"
        >
            <form 
            method="POST"
            class="top-nav-margin"
            enctype="multipart/form-data"
            >
            {% csrf_token %}
            <input type="text" class="form-control mt-3" placeholder="Title" name="title">
            <div class="form-floating">
                <textarea 
                class="form-control mt-2" 
                name="description"
                style="resize: vertical; height: 150px;"
                placeholder="Share something..." 
                id="floatingTextarea">
            </textarea>
                <label for="floatingTextarea">Write something...</label>
            </div>
            <input type="file" name="post_img" id="file" class="form-control mt-3">
            <div class="form-check mt-3">
                <input 
                class="form-check-input" 
                type="radio" 
                name="category" 
                id="art" 
                value="art" 
                checked
                >
                <label 
                class="form-check-label" 
                for="art">
                 Art
                </label>
              </div>
              <div class="form-check">
                <input 
                class="form-check-input" 
                type="radio" 
                name="category" 
                id="science" 
                value="science"
                >
                <label class="form-check-label" for="science">
                 Science
                </label>
              </div>
              <div class="form-check">
                <input 
                class="form-check-input" 
                type="radio" 
                name="category" 
                id="technology" 
                value="technology"
                >
                <label class="form-check-label" for="technology">
                 Technology
                </label>
              </div>
            <button class="btn btn-outline-dark mt-3 w-100" >Post</button>
        </form>
    </div>
</div>
{% endblock content %}